<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsEQPSoap" />
                <binding name="wsEQPSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.2.43/ERPws_ASM_DSC_TEST/wsEQP.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsEQPSoap"
                contract="ServiceReferenceTwMesTest.wsEQPSoap" name="wsEQPSoap" />
            <endpoint address="http://172.16.2.41/ERPws_ASM_DSC/wsEQP.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsEQPSoap1"
                contract="ServiceReferenceTwMesProduction.wsEQPSoap" name="wsEQPSoap1" />
        </client>
    </system.serviceModel>
</configuration>